.image-slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-slider__wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 1000vw;
  height: inherit;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.image-slider__slide {
  width: 468px;
  height: 468px;
  border-radius: 2px;
}

@media screen and (max-width: 500px) {
  .image-slider__slide {
    width: calc(100vw - 10px);
    height: calc(100vw - 10px);
  }
}

.image-slider__slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}