@import '../../../assets/scss/variables';

.profile-post {
  &__item {
    display: block;
    object-fit: cover;
    padding: 2px;
    overflow: hidden;
    width: 33.3333%;
    aspect-ratio: 1/1;
    position: relative;
    background: transparent;
    border: 0;
  }

  &__multy {
    position: absolute;
    top: 8px;
    right: 8px;
    display: block;
    width: 18%;
    height: 18%;
    z-index: 1;
    mask-image: url(../../../assets/img/posts.svg);
    background-color: rgba(white, 0.8);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100% 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

@media (min-width: $tablet) {
  .profile-post {
    &__multy {
      top: 15px;
      right: 15px;
      width: 30px;
      height: 30px;
    }
  }
}