.profile {
    padding: 0 10px;
    min-height: calc(100vh - 55px - 80px);

    &__description {
        margin: 10px 0 0 0;
        font-size: 14px;
    }

    &__posts {
        margin: 15px 0 0 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }
}
