.settings__menu {
  position: absolute;
  z-index: 99;
  height: max-content;
  background: var(--navigation-background-color);
  border-radius: 6px;
  border: 2px solid var(--navigation-background-color);
  overflow: hidden;
}

.settings__menu-list {
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
  gap: 2px;
}

.settings__menu-item {
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  background: var(--background-color);
  text-align: center;
  cursor: pointer;

  &:hover {
    background: var(--navigation-background-color);
  }
}

@media screen and (min-width: 770px) {
  .settings__menu {
    bottom: 60px;
    left: 12px;
    min-width: 200px;
  }
}

@media screen and (max-width: 770px) {
  .settings__menu {
    top: 44px;
    left: 0;
    min-width: 100%;
  }

  .settings__menu-list {
    flex-flow: column-reverse wrap;
  }
}