@import '../../../assets/scss/variables';

.profile__info {
  width: inherit;
  display: grid;
  grid-template-columns: 300px 1fr;
  justify-items: center;
  padding-bottom: 50px;
  border-bottom: 1px solid var(--border-color);
}

@media screen and (min-width: $tablet) {
  .profile__info {
    .profile__metrics {
      display: none;
    }
  }

  .profile__info {
    .profile__info-wrapper {
      .profile__metrics {
        display: flex;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .profile__info {
    padding: 16px 0 0;
    grid-template-columns: 120px 1fr;
  }

  .profile__info-wrapper {
    .profile__metrics {
      display: none;
    }
  }
}

.profile__info-wrapper {
  justify-self: start;
  width: max-content;
}