@import '../../../assets/scss/variables';

.profile-header {
    height: 44px;
    padding: 0 16px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.profile-username__text {
    color: var(--text-color);
}

@media screen and (min-width: $tablet) {
    .profile-header {
        display: none;
    }
}

.profile-header__settings {
    border: none;
    background: none;
}