.profile {
    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    &__metrics {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        justify-content: space-between;
        min-width: 215px;
        width: 215px;
    }
}

.profile-metrics {
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }

    &__value {
        font-weight: 700;
    }
}