@import '../../../assets/scss/variables';

.profile-edit {
    &__btn {
        background-color: var(--button-background-color);
        border: 0;
        border-radius: 7px;
        height: 28px;
        padding: 0 10px;
        color: #333;
        width: 100%;
        cursor: pointer;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 14px;
    }

    &__nickname {
        font-size: 24px;
        margin: 0;
    }
}

.profile__edit.header {
    color: var(--text-color);
}

.profile__subscribe-btn {
    padding: 3px 10px;
    background: #0095f6;
    border: none;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    font-size: 16px;
}

@media screen and (max-width: $tablet) {
    .profile__edit {
        &.header {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}

@media (min-width: $tablet) {
    .profile {
        &__edit {
            display: none;

            &.header {
                width: 100%;
                display: flex;
                align-items: center;
                margin-top: 0;

                .profile-edit__nickname {
                    display: flex;
                    font-size: 22px;
                    margin-right: 15px;
                }

                .profile-edit__btn {
                    margin-right: 10px;
                    width: max-content;
                    min-width: max-content;
                    padding: 0 15px;
                }
            }
        }

        &__metrics {
            margin-top: 15px;
            gap: 10px
        }
    }

    .profile-edit {
        &__settings {
            display: flex;
            width: 28px;
            min-width: 28px;
            background-color: var(--button-background-color);
            border: 0;
            border-radius: 7px;
            height: 28px;
            min-height: 28px;
            cursor: pointer;
            justify-content: center;
            align-items: center;
    
            &::after {
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                mask-image: url(../../../assets/img/gear.svg);
                background-color: #333;
                mask-repeat: no-repeat;
                mask-position: center;
                mask-size: 100% 100%;
            }
        } 
    }

    .profile-metrics {
        &__item {
            flex-direction: row;
        }

        &__value {
            margin-right: 5px;
        }
    }
}