.page-undefined {
  max-width: max-content;
  padding: 30px 10px 0;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.page-undefined__header {
  padding: 20px 0;
  font-size: 32px;
  text-align: center;
  color: var(--text-color);
}

.page-undefined__text {
  max-width: 800px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: var(--text-color);
}

.page-undefined__link {
  margin-left: 5px;
  color: rgb(24, 119, 242);
  text-decoration: none;
}